.sidebar {
  display: flex;
  height: 100vh;
  // width: calc(100% - 90%);
  width: 20%;
  background-color: #ededed;
  color: white;
  justify-content: flex-start;
  flex-direction: column;
}

.brand, .user {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
}

.icon-text {
  margin-left: 3vh;
  line-height: 3em;
  text-transform: capitalize;
  font-weight: bold;
}
